%h1 Listing entries

%table
  %tr
    %th Description
    %th
    %th
    %th

  - current_user.entries_by_master(master_user).each do |entry|
    %tr
      %td= entry.description
      %td= link_to 'Show', entry
      %td= link_to 'Edit', edit_entry_path(entry)
      %td= link_to 'Destroy', entry, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Entry', new_entry_path(params: {master_user_id: master_user.id})
