%h1
  - if type == User::QUESTION_TYPE[:m]
    自身の目標一覧
  - elsif type == User::QUESTION_TYPE[:p]
    弟子の目標一覧
  - else
    - if current_user.home_default == 1
      自身の目標一覧
    - else
      弟子の目標一覧

%table.table.table-bordered.table-striped.objective_table
  - if objectives
    %tbody
      - objectives.each_with_index do |objective, i|
        %tr
          %td
            = objective.content
            - if type == User::QUESTION_TYPE[:m]
              |
              = link_to '編集', edit_entry_path(objective)
              |
              = link_to '削除', objective, :confirm => '削除します。よろしいですか？', :method => :delete
            %button{ :class => "comment_button", :line_num => i }
              コメントを見る
            - if type == User::QUESTION_TYPE[:p_a]
              = "#{objective.thanks.count} ありがとう"
          %td
            %div{:class => "comment #{i}", :style => "display: none;" }
              = render :partial => "comment", :locals => { :objective => objective, :entry => entry, :type => type }

- if type == User::QUESTION_TYPE[:m]
  -# = form_tag search_users_path, :method => :get do
  -#   = hidden_field_tag :search_type, :entry
  -#   = text_area_tag :entry_item, nil,  :class => 'help', :title => "あなたの目標は何ですか？"
  -#   = submit_tag "達成済みの目標から探す", :disabled => true, :id => "search_objective"
  .entry_form
    = form_for @entry do |f|
      = f.text_area :content, :class => 'help', :title => "あなたの目標は何ですか？", :cols => 60, :rows => 5
      = f.submit "目標を登録する", :disabled => true, :id => "regist_objective"
