%h1
  - if type == "my_questions"
    自身の問題一覧
  - elsif type == "pupil_questions"
    弟子の問題一覧
  - elsif type == "answer_questions"
    解決した問題一覧
  - else
    - if current_user.home_default == 1
      自身の問題一覧
    - else
      弟子の問題一覧

%table.table.table-bordered.table-striped.question_table
  - if questions
    %tbody
      - questions.each_with_index do |question, i|
        %tr
          %td
            = question.content
            - if type == "my_questions"
              |
              = link_to '編集', edit_entry_path(question)
              |
              = link_to '削除', question, :confirm => '削除します。よろしいですか？', :method => :delete
            %button{ :class => "comment_button", :line_num => i }
              コメント
            - if type == "answer_questions"
              = "#{question.thanks.count} ありがとう"
          %td
            %div{:class => "comment #{i}", :style => "display: none;" }
              = render :partial => "comment", :locals => { :question => question, :entry => entry, :type => type }

- if type == "my_questions"
  = form_tag search_index_path, :method => :get do
    = hidden_field_tag :search_type, :entry
    = text_field_tag :entry_item
    = submit_tag "解決済みの問題から探す"

:javascript
  $(document).ready(function() {
    $('.comment_button').click(function() {
      if ($('div.comment.' + $(this).attr('line_num')).css('display') == 'none') {
        $('div.comment').css('display', 'none')
        $('div.comment.' + $(this).attr('line_num')).css('display', '')
      } else {
        $('div.comment.' + $(this).attr('line_num')).css('display', 'none')
      }
    });
  });