%h1
  - if type == "my_questions"
    自身の問題一覧
  - elsif type == "pupil_questions"
    弟子の問題一覧
  - elsif params[:type] == "answer_questions"
    解決した問題一覧
  - else
    - if current_user.home_default == 1
      自身の問題一覧
    - else
      弟子の問題一覧

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th 問題
      %th コメント
  - if questions
    %tbody
      - questions.each do |question|
        %tr
          %td
            = question.content
            - if type == "my_questions"
              |
              = link_to 'Edit', edit_entry_path(question)
              |
              = link_to 'Destroy', question, :confirm => 'Are you sure?', :method => :delete
          %td
            - if type == "answer_questions"
              - question.comments.each do |comment|
                %ul
                  %li
                    = comment.user.name if comment.user != current_user
                    = comment.content
            - else
              - if question.comments.empty?
                = form_for entry do |f|
                  = f.text_field :content
                  = f.fields_for :entry_relationships do |f2|
                    = f2.hidden_field :parent_id, :value => question.id
                    = f2.hidden_field :root_id, :value => question.id
                  = f.hidden_field :content_type, :value => params[:type]
                  = f.submit "コメントする"
              - else
                - question.comments.each_with_index do |comment, i|
                  %ul
                    %li
                      = comment.user.name if comment.user != current_user
                      = comment.content
                      = link_to "削除", entry_path(comment, :content_type => params[:type]), :method => :delete
                  - if i + 1 == question.comments.count
                    - unless current_user.thanked_entries.include?(question)
                      = form_for entry do |f|
                        = f.text_field :content
                        = f.fields_for :entry_relationships do |f2|
                          = f2.hidden_field :parent_id, :value => comment.id
                          = f2.hidden_field :root_id, :value => question.id
                        = f.hidden_field :content_type, :value => params[:type]
                        = f.submit "コメントする"
                      - if type == "my_questions"
                        = form_for current_user.thanks.build do |f_t|
                          = f_t.hidden_field :entry_id, :value => question.id
                          = f_t.hidden_field :master_id, :value => question.user.master.try(:id)
                          = f_t.hidden_field :content_type, :value => params[:type]
                          = f_t.submit "ありがとう"

- if type == "my_questions"
  %br
  = link_to 'New Entry', new_entry_path