%table.table.table-bordered
  %tr
    %th 名前
    %td= user.name
  %tr
    %th 職業
    %td= user.job
  %tr
    %th 師匠ジャンル
    %td= user.master_genre
  %tr
    %th 自己紹介
    %td= user.self_introduction
  %tr
    %th webサイト
    %td= user.web_site