%h3 ユーザ情報編集
= form_for @user, html: { class: 'form-horizontal' }, method: 'PUT' do |f|
  .form-group
    %label.col-sm-2.control-label{ for: 'user_name' }
      名前
    .col-sm-10
      = f.text_field :name, class: 'form-control'
  .form-group
    %label.col-sm-2.control-label{ for: 'user_description' }
      紹介文
    .col-sm-10
      = f.text_area :description, class: 'form-control'
  .form-group
    %label.col-sm-2.control-label{ for: 'user_master_genre_tags' }
      得意分野
    .col-sm-10
      = f.text_field :master_genre_tags, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit '更新する', class: 'btn btn-primary'
      = link_to 'キャンセル', user_path(@user), class: 'btn btn-default', data: { confirm: '編集内容は破棄されます。よろしいですか？' }
