= form_tag search_users_path, :method => :get do
  = select_tag :master_genre, options_for_select(User::MASTER_GENRE_LIST, params[:master_genre])
  = submit_tag "このジャンルの師匠を探す"

- if @masters
  %h3
    = "「師匠を探す」検索結果：#{params[:master_genre]}"
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th 名前
        %th 解決した問題
    %tbody
      - @masters.each do |master|
        %tr
          %td
            = link_to master.name, user_path(master.id)
          %td
            %ul
              - master.get_thanked_objectives.each do |entry|
                %li= entry.content
