%h3
  師匠一覧
  = "【#{params['master_genre_query']}】"

= link_to '<< ホームに戻る', root_path, class: 'btn btn-default'

- if @users.present?
  %table.table.table-striped
    %thead
      %tr
        %th.col-md-2
          名前
        %th.col-md-5
          紹介文
        %th.col-md-5
          得意分野
        - if Rails.env.development?
          %th Point
    %tbody
      - @users.each do |user|
        %tr
          %td= link_to user.name, user_path(user)
          %td= user.description
          %td= user.master_genre_list
          - if Rails.env.development?
            %td= user.total_rating(params['master_genre_query'])
- else
  %h4 該当ユーザはいません
