%h3
  師匠一覧
  = "【#{params['master_genre_query']}】"

= link_to '<< ホームに戻る', root_path, class: 'btn btn-default'

- if @users.present?
  %table.table.table-striped
    %thead
      %tr
        %th 名前
        %th 紹介文
        %th 得意分野
        %th 評価値
    %tbody
      - @users.each do |user|
        %tr
          %td= link_to user.name, user_path(user)
          %td= user.description
          %td= user.master_genre_tags
          %td= user.total_rating(params['master_genre_query'])
- else
  %h4 該当ユーザはいません
