- if @user != current_user || @relation_user_type.nil?
  %table.table.table-bordered
    %tr
      %th 名前
      %td= @user.name
    %tr
      %th 職業
      %td= @user.job
    %tr
      %th 師匠ジャンル
      %td= @user.master_genre
    %tr
      %th 自己紹介
      %td= @user.self_introduction
    %tr
      %th webサイト
      %td= @user.web_site
- else
  .users_table
    - if @relation_user
      %table.table.table-bordered.float_r
        %tr
          %th 名前
          %td
            = link_to @relation_user.name, user_path(@relation_user.id)
        %tr
          %th 職業
          %td= @relation_user.job
        %tr
          %th 師匠ジャンル
          %td= @relation_user.master_genre
        %tr
          %th 自己紹介
          %td= @relation_user.self_introduction
        %tr
          %th webサイト
          %td= @relation_user.web_site
    - else
      %table.table.table-bordered.float_r
        %td
          = "#{@relation_user_type}はいません"
          - if @type == User::QUESTION_TYPE[:m]
            = link_to "師匠を探す", search_index_path(:type => "master")
    %table.table.table-bordered
      %tr
        %th 名前
        %td= @user.name
      %tr
        %th 職業
        %td= @user.job
      %tr
        %th 師匠ジャンル
        %td= @user.master_genre
      %tr
        %th 自己紹介
        %td= @user.self_introduction
      %tr
        %th webサイト
        %td= @user.web_site

- if @user != current_user
  - if current_user.my_master?(@user)
    = link_to '弟子から外れる', relationship_path(:view_user_id => @user.id), :method => :delete
  - elsif current_user.master.nil?
    - if @user.pupil
      すでに弟子がいます
    - else
      = form_for current_user.build_relationship, :url => relationship_path do |f|
        = f.hidden_field :view_user_id, :value => @user.id
        = f.submit '弟子入る'
  = render :partial => "questions", :locals => { :type => "answer_questions", :questions => @questions }
- else
  = render :partial => "questions", :locals => { :type => @type, :entry => @entry, :questions => @questions }