- if @user != current_user || @relation_user_type.nil?
  = render :partial => "user_table", :locals => { :user => @user }
- else
  = render :partial => "master_table", :locals => { :type => @type, :relation_user => @relation_user, :relation_user_type => @relation_user_type }

- if @user != current_user
  = render :partial => "deshiel", :locals => { :user => @user }
  = render :partial => "questions", :locals => { :type => "answer_questions", :questions => @questions }
- else
  = render :partial => "questions", :locals => { :type => @type, :entry => @entry, :questions => @questions }