= link_to '自身の問題一覧', user_path(current_user, :type => "my_questions")
= link_to '弟子の問題一覧（未解決）', user_path(current_user, :type => "pupil_questions")
= link_to '弟子の問題一覧（解決済み）', user_path(current_user, :type => "answer_questions")

- if @user != current_user
  - if current_user.my_master?(@user)
    = link_to '弟子から外れる', relationship_path(:view_user_id => @user.id), :method => :delete
  - else
    = form_for @relationship, :url => relationship_path do |f|
      = f.hidden_field :view_user_id, :value => @user.id
      = f.submit '弟子入る'
  = render :partial => "answer_questions"
- else
  - if params[:type] == "my_questions"
    = render :partial => "my_questions"
  - elsif params[:type] == "pupil_questions"
    = render :partial => "pupil_questions"
  - elsif params[:type] == "answer_questions"
    = render :partial => "answer_questions"
  - else
    - if current_user.home_default == 1
      = render :partial => "my_questions"
    - else
      = render :partial => "pupil_questions"