%h3
  = @user.name
  - if current_user == @user
    = link_to "編集", edit_user_path(@user), class: 'btn btn-default'

- if user_signed_in? && current_user != @user
  %p
    - if current_user.master?(@user)
      .bg-success.notice-style
        弟子入り中です
        = "(#{current_user.pupil_due(@user.id)}まで)"
    - else
      - if @user.has_pupil?
        .bg-danger.notice-style
          既に弟子がいます
      - elsif current_user.applied_pupil?(@user)
        .bg-warning.notice-style
          弟子入り申請済です。しばらくお待ちください。
      - else
        = form_for @master_relation do |f|
          = f.hidden_field :master_id, value: @user.id
          = f.submit '弟子入りしたい', class: 'btn btn-primary'

%table.table.table-bordered
  %tr
    %th 名前
    %td= @user.name
  %tr
    %th 紹介文
    %td= @user.description
  %tr
    %th 得意分野
    %td
      = @user.master_genre_with_rate
