- if @user != current_user || params[:type] == "answer_questions"
  %table.table.table-bordered
    %tr
      %th 名前
      %td= @user.name
    %tr
      %th 職業
      %td= @user.job
    %tr
      %th 師匠ジャンル
      %td= @user.master_genre
    %tr
      %th 自己紹介
      %td= @user.self_introduction
    %tr
      %th webサイト
      %td= @user.web_site
- else
  .users_table
    - if params[:type] == "my_questions"
      - if current_user.master
        %table.table.table-bordered.float_r
          %tr
            %th 名前
            %td= @user.master.name
          %tr
            %th 職業
            %td= @user.master.job
          %tr
            %th 師匠ジャンル
            %td= @user.master.master_genre
          %tr
            %th 自己紹介
            %td= @user.master.self_introduction
          %tr
            %th webサイト
            %td= @user.master.web_site
      - else
        %table.table.table-bordered.float_r
          %td
            師匠はいません
    - elsif params[:type] == "pupil_questions"
      - if current_user.pupil
        %table.table.table-bordered.float_r
          %tr
            %th 名前
            %td= @user.pupil.name
          %tr
            %th 職業
            %td= @user.pupil.job
          %tr
            %th 師匠ジャンル
            %td= @user.pupil.master_genre
          %tr
            %th 自己紹介
            %td= @user.pupil.self_introduction
          %tr
            %th webサイト
            %td= @user.pupil.web_site
      - else
        %table.table.table-bordered.float_r
          %td
            弟子はいません
    - else
      - if current_user.home_default == 1
        - if current_user.master
          %table.table.table-bordered.float_r
            %tr
              %th 名前
              %td= @user.master.name
            %tr
              %th 職業
              %td= @user.master.job
            %tr
              %th 師匠ジャンル
              %td= @user.master.master_genre
            %tr
              %th 自己紹介
              %td= @user.master.self_introduction
            %tr
              %th webサイト
              %td= @user.master.web_site
        - else
          %table.table.table-bordered.float_r
            %td
              師匠はいません
      - else
        - if current_user.pupil
          %table.table.table-bordered.float_r
            %tr
              %th 名前
              %td= @user.pupil.name
            %tr
              %th 職業
              %td= @user.pupil.job
            %tr
              %th 師匠ジャンル
              %td= @user.pupil.master_genre
            %tr
              %th 自己紹介
              %td= @user.pupil.self_introduction
            %tr
              %th webサイト
              %td= @user.pupil.web_site
        - else
          %table.table.table-bordered.float_r
            %td
              弟子はいません
    %table.table.table-bordered
      %tr
        %th 名前
        %td= @user.name
      %tr
        %th 職業
        %td= @user.job
      %tr
        %th 師匠ジャンル
        %td= @user.master_genre
      %tr
        %th 自己紹介
        %td= @user.self_introduction
      %tr
        %th webサイト
        %td= @user.web_site

- if @user != current_user
  - if current_user.my_master?(@user)
    = link_to '弟子から外れる', relationship_path(:view_user_id => @user.id), :method => :delete
  - elsif current_user.master.nil?
    - if @user.pupil
      すでに弟子がいます
    - else
      = form_for current_user.build_relationship, :url => relationship_path do |f|
        = f.hidden_field :view_user_id, :value => @user.id
        = f.submit '弟子入る'
  = render :partial => "questions", :locals => { :type => "answer_questions", :questions => @questions }
- else
  - if params[:type]
    = render :partial => "questions", :locals => { :type => params[:type], :entry => @entry, :questions => @questions }
  - else
    - if current_user.home_default == 1
      = render :partial => "questions", :locals => { :type => "my_questions", :entry => @entry, :questions => @questions }
    - else
      = render :partial => "questions", :locals => { :type => "pupil_questions", :entry => @entry, :questions => @questions }
