%h1= @user.id

- unless current_user == @user
  - if current_user.master?(@user)
    弟子入り中です
    = "(#{current_user.pupil_due(@user.id)}まで)"
  - else
    = form_for @master_relation do |f|
      = f.hidden_field :master_id, value: @user.id
      = f.submit '弟子入る'

%table.table.table-bordered
  %tr
    %th 名前
    %td= @user.name
  %tr
    %th 紹介文
    %td= @user.description
  %tr
    %th 得意分野
    %td= @user.master_genre

- if current_user == @user
  = link_to "編集", edit_user_path(@user)
