- current_user.current_masters.each do |master|
  %h2
    = link_to "師匠: #{master.name}", user_path(master)
  = render partial: 'pupil/entries/index', locals: { master: master }
  %br

- if current_user.masters_to_rate.present?
  - current_user.masters_to_rate.each do |master|
    = master.name
    = form_tag pupil_rate_path do
      = hidden_field_tag :master_id, master.id
      = select_tag :rating, options_for_select([5,4,3,2,1])
      = submit_tag '評価'
- else
  %h3 師匠を探す
  = form_tag pupil_search_path, method: 'GET' do
    = select_tag :master_genre, options_for_select(User::MASTER_GENRE_LIST)
    = submit_tag '探す', class: 'btn btn-default'
