!!!
%html

  %head
    %title Deshiel
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
    = yield(:head)

  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          .navbar-brand
            %a{:href => root_path}
              Deshiel
        .navbar-collapse.collapse
          = form_tag pupil_search_path, method: 'GET', class: 'navbar-form navbar-left' do
            = select_tag :master_genre, options_for_select(User::MASTER_GENRE_LIST), class: 'form-control'
            = submit_tag '師匠を探す', class: 'btn btn-default'
          - if current_user
            %ul.nav.navbar-nav.navbar-right
              %li.user-li
                = link_to current_user.name, user_path(current_user)
              %li= link_to 'ログアウト', destroy_user_session_path, method: :delete
          - else
            = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'navbar-form navbar-right' }) do |f|
              .form-group
                = f.email_field :email, class: 'form-control', placeholder: 'Email'
              .form-group
                = f.password_field :password, class: 'form-control', placeholder: 'Password'
              = f.submit "ログイン", class: 'btn btn-default'

    .container
      - if current_user
        %ul.nav.nav-tabs
          %li.pupil-li.active
            = link_to '弟子ページ', pupil_home_path
          %li.master-li
            = link_to '師匠ページ', master_home_path
      = yield

:javascript
  $(document).ready(function() {
    var pathname = window.location.pathname;
    $('.nav-tabs li').removeClass("active")

    if (pathname.match(/\/master\//)) {
      $('.nav-tabs li.master-li').addClass("active")
    } else if (pathname.match(/\/pupil\//) || pathname == '/') {
      $('.nav-tabs li.pupil-li').addClass("active")
    }
  });
