!!!
%html

  %head
    %title Deshiel
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
    = yield(:head)

  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          .navbar-brand
            %a{:href => root_path}
              Deshiel
          %ul.nav.navbar-nav
            %li= link_to '弟子', pupil_home_path
            %li= link_to '師匠', master_home_path
        - if current_user
          .navbar-collapse.collapse
            %ul.nav.navbar-nav.navbar-right
              %li= link_to current_user.id, user_path(current_user)
              %li= link_to 'ログアウト', destroy_user_session_path, method: :delete
    .container
      = yield
